<div class="cabinet-header__container">
    <h2 class="cabinet-header__title">спортивный челлендж ДИТ</h2>

    <div class="cabinet-header__profile">
        <span class="cabinet-header__profile-score">115</span>

        <a class="cabinet-header__profile-icon" routerLink="/cabinet/profile">
            <svg width="42" height="42" viewBox="0 0 102 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_101_1434)">
                <circle cx="51" cy="48" r="20" fill="white" stroke="white" stroke-width="2"/>
                <text fill="url(#paint0_linear_101_1434)" xml:space="preserve" style="white-space: pre" font-family="IngoStem" font-size="24" font-weight="bold" letter-spacing="0.05em"><tspan x="41.3789" y="56.376">&#x418;</tspan></text>
                </g>
                <defs>
                <filter id="filter0_d_101_1434" x="0" y="-3" width="102" height="102" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset/>
                <feGaussianBlur stdDeviation="15"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.4 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_101_1434"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_101_1434" result="shape"/>
                </filter>
                <linearGradient id="paint0_linear_101_1434" x1="41" y1="60" x2="63.5622" y2="57.284" gradientUnits="userSpaceOnUse">
                <stop stop-color="#9D9DE6"/>
                <stop offset="0.427083" stop-color="#567FE3"/>
                <stop offset="0.885417" stop-color="#9664C8"/>
                </linearGradient>
                </defs>
            </svg>
        </a>
    </div>
</div>


