<nav class="cabinet-nav__container">
    <ul class="cabinet-nav__list">
        <li class="cabinet-nav__list-item">
            <a routerLink="cabinet">Лента</a> 
        </li>
        <li class="cabinet-nav__list-item">
            <a routerLink="cabinet">Челленджи</a> 
        </li>
        <li class="cabinet-nav__list-item">
            <a routerLink="cabinet">Рейтинги</a> 
        </li>
        <li class="cabinet-nav__list-item">
            <a routerLink="cabinet">Активность</a> 
        </li>
    </ul>
</nav>
