@import '../../../styles/utils.scss';

.register-page {
    background: #fff;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 4.5rem 5.575rem 3.75rem;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;


    &__email {
        margin-top: 3.125rem;
    }

    &__header {
        font-size: 2.25rem;
        margin-bottom: 0;
    }

    &__form {
        width: 31.725rem;
        &-input {
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            font-size: 1.5rem;
            border: none;
            padding: 1.125rem 2rem;
        }
    }

    &__password {
        margin-top: 1.25rem;
    }

    @include _760 {
        padding: 1.75rem;
        margin: 0 1rem;
        width: calc(100% - 2rem);
        position: fixed; top: 32%; left: 0;
        -webkit-transform: 0;
        -ms-transform: 0;
        transform: none;
        display: block;

        &__email {
            margin-top: 1rem;
        }
    
        &__header {
            font-size: 1.25rem;
            margin-bottom: 0;
        }
    
        &__form {
            width: 100%;
            &-input {
                background: #FFFFFF;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
                border-radius: 15px;
                font-size: 1rem;
                border: none;
                padding: .75rem 1rem;
            }
        }
    
        &__password {
            margin-top: 1rem;
        }
    }
}