<form class="register-page__form text-start"
      [formGroup]="form"
      (submit)="register()">
    <h1 class="register-page__header">Регистрация</h1>
    <div class="register-page__email">
      <input class="register-page__form-input form-control"
          formControlName="email" 
          type="email"  
          placeholder="Email">
      <div class="danger-text"
            *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            Проверьте корректность логина
      </div>
    </div>
    <div class="register-page__password">
      <input class="register-page__form-input form-control" 
          formControlName="password"
          type="password" 
          placeholder="Пароль">
      <div class="danger-text"
            *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
            Проверьте корректность пароля
      </div>
    </div>
    <button class="btn-auth" 
        type="submit" 
        [disabled]="form.invalid || form.disabled">
          Зарегистрироваться
    </button>
</form>

  <a routerLink="/login" class="btn btn-link mt-2">Войти</a>
